<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1TH-L78UsR--To-9RQQJmVe-PSo-XeI0</string>
	<key>GCM_SENDER_ID</key>
	<string>492357122817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rf6.carloscastanedo.kyty.kytyapp</string>
	<key>PROJECT_ID</key>
	<string>kytycarlosc-46080</string>
	<key>STORAGE_BUCKET</key>
	<string>kytycarlosc-46080.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492357122817:ios:b833da01e497dd3b90f900</string>
</dict>
</plist>